.main{
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-color: white;
}
.sub-main{
  justify-content: center;
  display: flex;
  height: 600px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius:60px;
  background-color: white;
}
.imgs{
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.container-image{
  border-radius: 150px;
  align-items: center;
  display: flex;
  max-width: 115px;
}
.profile{
  max-width: 100px;
border-radius: 130px;
}
input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;

}
.icon{
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}
.inputName{
  padding-left: 70px;
  font-size: 20px;
}
.secInput{
  padding-top: 20px;
}
button{
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: black;
  color: white;
  font-size: 25px;
  border: none;
}
button:hover{
  background-color: darkseagreen;
  color: black;
  cursor: pointer;
}

.login-button{
  padding-top: 30px;

}
.linkText{
  font-size: 20px;
  font-weight: 400;
}
a{
color: black;
  margin-left: 15px;
}

.home{
  justify-content: center;
  display: flex;
 height: 100vh;
  align-items: center;


}
.userName{
  color: green;
  text-transform: capitalize;
}

